// =============================================================================
// Spark App
// =============================================================================

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

.sparkApp {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

}

.sparkApp__body {
  display: flex;
}


.sparkApp__sections {
  padding: 2em;
}


.sparkApp__header {

}


.sparkApp__logo {
  padding-bottom: 2em;
}

.sparkApp__date {

}


.sparkApp__quote {

}



.sparkApp__header,
.sparkApp__prompts,
.sparkApp__progress {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}





.sparkApp__label {

}






.sparkApp__progress {

}
