// =============================================================================
// Spark App
// =============================================================================

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

$font-stack: 'Source Sans Pro', sans-serif;
$font-thin: 300;
$font-bold: 400;
$primary-text: #1B1B19;
$border: #979797;


.sparkApp {
  font-family: $font-stack;
  color: $primary-text;
  font-weight: $font-thin;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.sparkApp__body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  border-top: 1px dashed $border;
  border-bottom: 1px dashed $border;
  margin-bottom: 2em;

  @media only screen and (min-width: 642px) {
    flex-flow: row;
  }
}

.sparkApp__header,
.sparkApp__prompts,
.sparkApp__progress {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.sparkApp__sections {
  padding: 3em;
}


.sparkApp__image {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.1)	;
}


.sparkApp__logo {
  padding-bottom: 2em;
}

.sparkApp__date {
  font-weight: $font-bold;
  font-size: .8em;
  letter-spacing: 4px;
  text-transform: uppercase;
}


.sparkApp__quote {
  font-weight: $font-bold;
  font-size: 1.2em;
}


.sparkApp__word {
  font-size: 4em;
  $font-thin: 300;
}


.sparkApp__color {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: #FF1744;

  @media only screen and (min-width: 642px) {
    height: 200px;
    width: 200px;
  }
}


.sparkApp__progress {

}

.sparkApp__label {
  font-size: 1em;
  letter-spacing: 4px;
  text-transform: uppercase;
}



.sparkApp__checkbox {
  position: absolute; // take it out of document flow
   opacity: 0; // hide it

   & + label {
     position: relative;
     cursor: pointer;
     padding: 0;
   }

   // Box.
   & + label:before {
     content: '';
     margin-right: 10px;
     display: inline-block;
     vertical-align: text-top;
     width: 20px;
     height: 20px;
     background: white;
     border: 1px solid #ececec;
   }

   // Box hover
   &:hover + label:before {
     background: #FDD835;
   }

   // Box focus
   &:focus + label:before {
     box-shadow: 0 0 0 3px rgba(253, 216, 53, 0.12) ;
   }

   // Box checked
   &:checked + label:before {
     background: #f35429;
   }

   // Disabled state label.
   &:disabled + label {
     color: #b8b8b8;
     cursor: auto;
   }

   // Disabled box.
   &:disabled + label:before {
     box-shadow: none;
     background: #ddd;
   }

   // Checkmark. Could be replaced with an image
   &:checked + label:after {
     content: '';
     position: absolute;
     left: 5px;
     top: 9px;
     background: white;
     width: 2px;
     height: 2px;
     box-shadow:
       2px 0 0 white,
       4px 0 0 white,
       4px -2px 0 white,
       4px -4px 0 white,
       4px -6px 0 white,
       4px -8px 0 white;
     transform: rotate(45deg);
   }
}
